{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="row mt-5">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			{{ form_start(registrationForm) }}
			<fieldset class="userInterface" align="center">
				<h1 class="mb-4">Inscription</h1>
				{{ form_row(registrationForm.username, {'attr': {'autofocus' : true}, 'label': "Nom d'utilisateur"}) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword.first) }}
				{{ form_row(registrationForm.plainPassword.second) }}
				{{ form_row(registrationForm.agreeTerms) }}<a href="{{ path('rgpd') }}#rgpd" target='_blank'>Mentions légales</a>
				{# <label for="registration_form_agreeTerms" class="form-check-inline" required>
				{{ form_widget(registrationForm.agreeTerms) }}
				<span>J'accepte les <a href="#">mentions légales</a> .</span>
				</label>
				</br> #}
				</br>
				<button type="submit" class="btn btn-primary my-3">S'enregister</button>
				<p class="mb-4">
				<a href="{{ path('app_login') }}">Déjà inscrit</a>
				</p>
			</fieldset>
			{{ form_end(registrationForm) }}
		</div>
		<div class="col-lg-3"></div>
	</div>
{% endblock %}
