{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="row mt-5">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			{{ form_start(registrationForm) }}
			<fieldset class="userInterface" align="center">
				<h1 class="mb-4">Inscription</h1>
				{{ form_row(registrationForm.username, {'attr': {'autofocus' : true}, 'label': "Nom d'utilisateur"}) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword.first) }}
				{{ form_row(registrationForm.plainPassword.second) }}
				{{ form_row(registrationForm.agreeTerms, {'label' : 'Vous devez accepter nos conditions.'}) }}

				<button type="submit" class="btn btn-primary mb-4">S'enregister</button>
			</fieldset>
			{{ form_end(registrationForm) }}
		</div>
		<div class="col-lg-3"></div>
	</div>
{% endblock %}
