{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}

{% block title %}Formulaire de création{% endblock %}

{% block body %}
    <h1>Création d'un trick</h1>
    {{ form_start(formTrick) }}
    {{ form_row(formTrick.name, {'attr': {'placeholder': "Nom du Trick"}, 'label': "Nom du Trick"})}}
    {{ form_row(formTrick.description, {'attr': {'placeholder': "Description du Trick", 'rows' : '8'}, 'label': "Description du Trick"})}}
    {{ form_row(formTrick.picture, {'attr': {'placeholder': "URL de l'image"}, 'label': "URL de l'image du Trick"})}}
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregister les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>
    {{ form_end(formTrick)}}
{% endblock %}